* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.tile {
    width: 80px;
    height: 80px;
}

.boardContainer{
    display: flex;
    justify-content: center;
}

.row {
    display: inline-grid;
}

.reset {
    height: 50px;
    width: 150px;
    font-size: 25px;
}

.board {
    width: 640px;
    height: 640px;
    border-style: solid;
    font-size: 0px;
}

.black {
    background-color: rgb(116, 101, 101);
}

.white {
    background-color: rgb(245, 228, 223);
}

.yellow {
    background-color: rgb(255, 255, 149);
}

img {
    display: block;
}
