* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

img {
    display: block;
}

.tile {
    width: 80px;
    height: 80px;
}

.boardContainer{
    display: flex;
    justify-content: center;
}

.row {
    display: inline-grid;
}

.reset {
    height: 50px;
    width: 150px;
    font-size: 25px;
}

.board {
    width: 640px;
    height: 640px;
    border-style: solid;
    font-size: 0px;
}

.black {
    background-color: rgb(136, 126, 126);
}

.white {
    background-color: rgb(255, 237, 232);
}

.yellow {
    background-color: rgb(255, 255, 149);
}

#black-lost {
    margin-right: 30px;
}

#red-lost {
    margin-left: 30px;
}

#time {
    margin-top: 15px;
}

#header {
    margin-top: 15px;
}