* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tile {
    width: 80px;
    height: 80px;
}

.row {
    display: inline-grid;
}

.board {
    width: 646px;
    height: 646px;
    border-style: solid;
    font-size: 0px;
}

.black {
    background-color: rgb(71, 61, 61);
}

.white {
    background-color: rgb(245, 228, 223);
}

.yellow {
    background-color: rgb(255, 255, 149);
}

img {
    display: block;
}
